<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JEE-GiftListManagement</display-name>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <!-- context parameters -->
  
  <!-- filters declaration -->
  <filter>
  	<filter-name>AuthenticationFilter</filter-name>
  	<filter-class>be.Jadoulle_Declercq.Filters.AuthenticationFilter</filter-class>
  </filter>
  
  <!-- filters mapping -->
  <filter-mapping>
  	<filter-name>AuthenticationFilter</filter-name>
  	<servlet-name>MainPage</servlet-name>
  	<servlet-name>GiftList</servlet-name>
  	<servlet-name>DeleteGiftList</servlet-name>
  	<servlet-name>ModifyGiftList</servlet-name>
  	<servlet-name>NotificationMessage</servlet-name>
  </filter-mapping>
  
  <!-- session configuration -->
  
  <!-- servlets declaration -->
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<servlet-class>be.Jadoulle_Declercq.Servlets.IndexServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Inscription</servlet-name>
  	<servlet-class>be.Jadoulle_Declercq.Servlets.InscriptionServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>MainPage</servlet-name>
  	<servlet-class>be.Jadoulle_Declercq.Servlets.MainPageServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>GiftList</servlet-name>
  	<servlet-class>be.Jadoulle_Declercq.Servlets.GiftListServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>DeleteGiftList</servlet-name>
  	<servlet-class>be.Jadoulle_Declercq.Servlets.DeleteGiftListServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ModifyGiftList</servlet-name>
  	<servlet-class>be.Jadoulle_Declercq.Servlets.ModifyGiftListServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>NotificationMessage</servlet-name>
  	<servlet-class>be.Jadoulle_Declercq.Servlets.NotificationMessageServlet</servlet-class>
  </servlet>
  
  <!-- servlets mapping -->
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/Index</url-pattern>
  	<url-pattern>/index</url-pattern>
  	<url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Inscription</servlet-name>
  	<url-pattern>/Inscription</url-pattern>
  	<url-pattern>/inscription</url-pattern>
  	<url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>MainPage</servlet-name>
  	<url-pattern>/MainPage</url-pattern>
  	<url-pattern>/mainPage</url-pattern>
  	<url-pattern>/MainPageServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>GiftList</servlet-name>
  	<url-pattern>/GiftList</url-pattern>
  	<url-pattern>/giftList</url-pattern>
  	<url-pattern>/GiftListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DeleteGiftList</servlet-name>
  	<url-pattern>/DeleteGiftList</url-pattern>
  	<url-pattern>/deleteGiftList</url-pattern>
  	<url-pattern>/DeleteGiftListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ModifyGiftList</servlet-name>
  	<url-pattern>/ModifyGiftList</url-pattern>
  	<url-pattern>/modifyGiftList</url-pattern>
  	<url-pattern>/ModifyGiftListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>NotificationMessage</servlet-name>
  	<url-pattern>/NotificationMessage</url-pattern>
  	<url-pattern>/notificationMessage</url-pattern>
  	<url-pattern>/NotificationMessageServlet</url-pattern>
  </servlet-mapping>
  
</web-app>